@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1 class="my-4">
    My Blog Posts
</h1>

@foreach (var post in Model.Posts)
{
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="https://placehold.it/750x100" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">@post.Title</h2>
            
            @Html.Raw(post.Content)

            <a href="@Url.Action("Show","Post", new { slug = post.Slug })" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on @post.CreationTime.Value.ToShortDateString() by
            <a href="#">@(post.Author.DisplayName ?? "Anonymous")</a>
        </div>
    </div>
}




<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>

