<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Blog Website">
    <meta name="author" content="Yiğit Hacıefendioğlu">

    <title>Spring Blog - @ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrap")

    <link href="~/Content/croppie.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/css")

</head>

<body class="d-flex flex-column h-100">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.RouteLink("SpringBlog", "HomeDefault", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.RouteLink("Home", "HomeDefault", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")

                <ul class="navbar-nav">
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item d-lg-none">
                            @Html.ActionLink("Administration", "Index", "Dashboard", new { area = "Admin" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown d-none d-lg-block ml-1">
                            <div class="btn-group">
                                @Html.ActionLink("Administration", "Index", "Dashboard", new { area = "Admin" }, new { @class = "btn btn-secondary" })
                                <a href="#" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Posts", "Index", "Posts", new { area = "Admin" }, new { @class = "dropdown-item" })
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8 py-4 d-flex flex-column">

                @RenderBody()

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "Home",FormMethod.Get, new { id = "frmSearch" }))
                        {
                            <div class="input-group">
                                @Html.TextBox("q", null, new { @class = "form-control", placeholder = "Search for..." })
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">Go!</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @Html.Action("CategoriesPartial", "Home", new { area = "" })
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark mt-auto">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; SpringBlog 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Areas/Admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/Scripts/croppie.min.js"></script>
    <script src="~/Scripts/Site.js"></script>

    @RenderSection("scripts", false)

</body>

</html>