@model Category
@{
    ViewBag.Title = "New Category";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create a New Category</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @using (Html.BeginForm("New", "Categories", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.CategoryName)
                            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", placeholder = "Category Name" })
                            @Html.ValidationMessageFor(x => x.CategoryName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                }

            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

