@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            @SmallBox(Model.CategoryCount.ToString(), "Categories", Url.Action("Index", "Categories"), "bg-info", "fas fa-table")
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            @SmallBox(Model.PostCount.ToString(), "Posts", Url.Action("Index", "Posts"), "bg-success", "fas fa-file-alt")
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            @SmallBox(Model.UserCount.ToString(), "Users", "#", "bg-warning", "fas fa-users")
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            @SmallBox(Model.AdminCount.ToString(), "Admins", "#", "bg-danger", "fas fa-user-secret")
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</div>

@helper SmallBox(string title, string description, string link, string boxClass, string iconClass)
{
    <!-- small box -->
    <div class="small-box @boxClass">
        <div class="inner">
            <h3>@title</h3>

            <p>@description</p>
        </div>
        <div class="icon">
            <i class="@iconClass"></i>
        </div>
        <a href="@link" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
}

